.container {
  display: flex;
  margin: 25px;
}

.form-product {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  width: 78%;
  height: 19vh;
}

.btn {
  border: none;
  height: 5vh;
  background-color: #218837c5;
  border-radius: 6px;
  margin-top: 8rem;
  margin-left: -27rem;
}
/* Apply responsive styles to the form elements */

.label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.cartIcon {
  border: 2px solid magenta;
  width: 150px;
  border: none;
  border-radius: 9px;
  background-color: rgba(0, 128, 0, 0.654);
  height: 8vh;
}
